/* =============================================================================

[Table of contents]

0.0 Common CSS START 
1.0 HEADER AREA START 
2.0 BANNER AREA START
3.0 ABOUT AREA START
4.0 MARKET AREA START
5.0 PROTFOLIO AREA START
6.0 SERVICE AREA START
7.0 TEAM AREA START
8.0 COUNT AREA START
9.0 PRICE AREA START
10.0 CONTACT AREA START 
11.0 TESTIMONIAL AREA START
12.0 FOOTER AREA START
13.0 COPY_RIGHT AREA START

/*===========================
0.0 *** Common CSS START ***
=============================*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
li {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}

img {
    vertical-align: middle;
    outline: 0;
}

.zindex {
    position: relative;
    z-index: 999;
}

.clr {
    clear: both;
}

@font-face {
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-family: osb;
}

@font-face {
    src: url(../fonts/Roboto-Regular.ttf);
    font-family: rr;
}

@font-face {
    src: url(../fonts/Roboto-Bold.ttf);
    font-family: rb;
}

/* Preloader Part */
.preload-main {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1f1a2e;
    z-index: 9999999;
    top: 0;
    left: 0;
}


.preloader {
    position: absolute;
    width: 65px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preloader span {
    position: absolute;
    display: block;
    bottom: 0;
    width: 9px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    -webkit-animation: preloader 2s infinite ease-in-out;
    animation: preloader 2s infinite ease-in-out;
}

.preloader span:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.preloader span:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}

.preloader span:nth-child(4) {
    left: 33px;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}

.preloader span:nth-child(5) {
    left: 44px;
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}

.preloader span:nth-child(6) {
    left: 55px;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

@-webkit-keyframes preloader {
    0% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #fff;
    }

    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background: #fff;
    }

    50%,
    100% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #fff;
    }
}

@keyframes preloader {
    0% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #fff;
    }

    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background: #fff;
    }

    50%,
    100% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #fff;
    }
}

/* Version 2 */
.particles-js-canvas-el {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

/* Version 3 */
#index3 #banner {
    background: url(../image/banner1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*===========================
1.0 *** HEADER AREA START ***
=============================*/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999999;
    -weebkit-transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    padding-top: 15px;
    background: transparent !important;
    border-bottom: 1px solid #5a1a24;

}

.menu-item {
    padding-right: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-family: rr;
    font-size: 16px;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    position: relative;
    margin: 9px;
}

.navbar-light .navbar-nav .nav-link::after {
    position: absolute;
    content: '';
    bottom: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 54px;
    height: 2px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #f73859;
}

.navbar-light .navbar-nav .nav-link:hover:after {
    opacity: 1;
    background: #f73859;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #f73859;
}

.navbar-light .navbar-nav .nav-link.active::after {
    position: absolute;
    content: '';
    bottom: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 54px;
    height: 2px;
    background: #f73859;
    opacity: 1;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.navbar-light .navbar-brand {
    color: #ffffff;
    font-family: rb;
    font-size: 28px;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;

}

.navbar-light .navbar-brand:hover {
    color: #fff;
}

.nav-bg {
    background: #070117 !important;
    -webkit-box-shadow: 0 6px 30px -18px;
    box-shadow: 0 6px 30px -18px;
    border-bottom: 1px solid #070117 !important;

}

.nav-bg .navbar-nav .nav-link::after {
    bottom: -13px !important;
}

.nav-bg .navbar-brand {
    color: #fff;
    font-size: 26px;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.nav-bg .navbar-nav .nav-link {
    color: #fff;
}

/*===========================
2.0 *** BANNER AREA START ***
=============================*/

.slide-banner {
    height: 100vh;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    position: relative;
}

.overly {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(7, 1, 23, 0.8);
}

.banner-content {
    height: 100%;
}

.banner-content .container {
    height: 100%;
}

.banner-text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.banner-text::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    width: 300px;
    height: 300px;
    border: 4px solid rgba(247, 56, 89, 0.2);
    z-index: -1;

}

.banner-text h2 {
    font-size: 30px;
    color: #fff;
    font-family: rb;
    margin-bottom: 6px;
}

.banner-text h3 {
    font-size: 51px;
    color: #f73859;
    font-family: osb;
    text-transform: uppercase;
    margin-top: 0;
}

.banner-text p {
    line-height: 25px;
    padding: 5px 272px 15px;
    font-family: rr;
    font-size: 15px;
    color: #fff;

}

.banner-text .ban-btn {
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    padding: 14px 20px;
    border-radius: 50px;
    font-family: rb;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.banner-text .ban-btn:hover {
    color: #fff;
    background: #f73859;
    -o-transition: all linear .5s;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    border-color: #f73859;
}

.social-icon {
    padding-top: 35px;
}

.social-icon i {
    font-size: 18px;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 4px;
    -webkit-transition: all linear .5s;
    -o-transition: all linear .5s;
    transition: all linear .5s;
}

.social-icon i:hover {
    background: #f73859;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.slidPrv {
    position: absolute;
    top: 50%;
    left: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 50%;
    z-index: 99;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transition: all .3s;
    cursor: pointer;
}

.slidNext {
    position: absolute;
    top: 50%;
    right: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 50%;
    z-index: 99;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transition: all .3s;
    cursor: pointer;
}

.slidNext:hover,
.slidPrv:hover {
    color: #fff;
    background: #f73859;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
}

/*===========================
3.0 *** ABOUT AREA START ***
=============================*/
#about {
    padding: 80px 0;

}

.about-head h2 {
    font-family: osb;
    color: #f73859;
    font-size: 38px;
    position: relative;
    display: inline-block;
    z-index: 1;
    padding-bottom: 10px;
}

.about-head h2::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    border: 5px solid #e2dbdb;
    right: -17px;
    bottom: 4px;
    z-index: -1;
}

.about-head h3 {
    font-family: osb;
    font-size: 25px;
    position: relative;
    padding-left: 8px;
}

.about-head h3::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 33px;
    left: 0;
    background: #f73859;
}

.apt {
    padding-top: 90px;
}

.about-img {
    position: relative;
}

.about-img img {
    position: relative;
    z-index: 1;
}

.about-img::after {
    position: absolute;
    content: '';
    width: 90%;
    height: 90%;
    background: #f73859;
    bottom: -21px;
    z-index: -1;
    right: -22px;
    -webkit-box-shadow: 0 19px 38px rgba(247, 56, 89, 0.3), 0 15px 12px rgba(247, 56, 89, 0.3);
    box-shadow: 0 19px 38px rgba(247, 56, 89, 0.3), 0 15px 12px rgba(247, 56, 89, 0.3);
}

.about-img::before {
    position: absolute;
    content: '';
    width: 90%;
    height: 90%;
    background: #f73859;
    top: -23px;
    z-index: -1;
    left: -22px;
    -webkit-box-shadow: 0 38px 19px rgba(247, 56, 89, 0.3), 0 12px 15px rgba(247, 56, 89, 0.3);
    box-shadow: 0 38px 19px rgba(247, 56, 89, 0.3), 0 12px 15px rgba(247, 56, 89, 0.3);
}

.about-text h2 {
    font-family: rb;
    text-transform: uppercase;
    font-size: 23px;
}

.about-p {
    padding-top: 20px;
    padding-bottom: 15px;
}

.about-text span {
    font-family: rr;
    color: #4a0cc1;
    font-size: 17px;
    padding-bottom: 20px;
}

.about-text p {
    font-family: rr;
    color: #666;
    font-size: 17px;
    line-height: 27px;
}

.about-text a i {
    padding-left: 3px;
    font-size: 18px;
}

.backtotop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    display: none;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.backtotop i {
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background: #FF416C;
    border: 1px solid #FF416C;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    border-radius: 3px;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.backtotop:hover i {
    cursor: pointer;
}

.counter-main {
    padding-top: 5px;
}

.counter-1 {
    position: relative;
}

.counter-1 h3 {
    position: absolute;
    top: 50px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    font-size: 20px;
}

.counter-1 h4 {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

/*===========================
4.0 *** MARKET AREA START ***
=============================*/
#market {
    padding: 40px 0;
    background: #efeded;
    width: 100%;
}

.slick-center market-item img {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/*===========================
5.0 *** PROTFOLIO AREA START ***
=============================*/
#portfolio {
    padding: 80px 0;
}

.portfolio-bg {
    background: url(../image/portfolio-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    background-attachment: fixed;
}

.port-overly {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(7, 1, 23, 0.8);
}

.heading-bg {
    color: #fff;
}

.heading-bg h2 {
    color: #f73859;
}

.heading-bg h2::after {
    right: -20px;
    border: 5px solid #b2afaf;

}

.portfolio-imag {
    padding-top: 55px;
}

.portfolio-inner img {
    margin-bottom: 30px;
}

.port-img {
    position: relative;
}

.port-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
}

.port-overlay i {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 20px;
    color: #000;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

.port-img:hover .port-overlay {
    opacity: 1;
    bottom: 0;
    height: 100%;
}

.vbox-overlay {
    z-index: 999999;
}

/*===========================
6.0 *** SERVICE AREA START ***
=============================*/

#service {
    padding: 75px 0;
}

.service-details {
    padding-top: 32px;
}

.service-details p {
    color: #444;
    line-height: 27px;
    padding-bottom: 30px;
    font-family: rr;
}

.service-details a {
    font-size: 16px;
    color: #fff;
    background: #f73859;
    font-family: rb;
    border: 1px solid #f73859;
    padding: 14px 20px;
    border-radius: 50px;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}


.service-details a:hover {
    color: #f73859;
    background: transparent;
    border: 1px solid #f73859;
}

.service-item {
    background: #fff7d8;
    text-align: center;
    padding: 30px 0 30px 0;
    -webkit-transition: all linear.3s;
    -o-transition: all linear.3s;
    transition: all linear.3s;
}

.service-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    margin: 0 auto;
    -webkit-filter: drop-shadow(0px 2px 5px rgba(98, 98, 113, 0.43));
    filter: drop-shadow(0px 2px 5px rgba(98, 98, 113, 0.43));
}

.service-item h3 {
    color: #151515;
    padding-top: 24px;
    padding-bottom: 13px;
    font-family: osb;
    font-size: 21px;

}

.service-item h3 span {
    color: #f73859;
}

.service-item p {
    color: #444444;
    padding: 0 32px;
    line-height: 24px;
    font-size: 15px;
}

.service-icon i {
    color: #f73859;
    font-size: 30px;
    line-height: 80px;
}

.service-item2 {
    background: #d8e9ff;
    margin-top: 25px;
}

.service-item3 {
    margin-top: 25px;
    background: #d8f4ff;
}

.service-item4 {
    background: #d8ffff;
    margin-top: 25px;
}

.service-p {
    padding-top: 30px;
}

.service-item:hover {
    -webkit-filter: drop-shadow(0px 2px 5px rgba(98, 98, 113, 0.43));
    filter: drop-shadow(0px 2px 5px rgba(98, 98, 113, 0.43));
}

/*===========================
7.0 *** TEAM AREA START ***
=============================*/
#team {
    padding: 80px 0;
}

.team-item {
    position: relative;
}

.overlay-text {
    position: relative;
    -webkit-transition: all linear .7s;
    -o-transition: all linear .7s;
    transition: all linear .7s;
}

.team-item:hover .overlay-text {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.team-overlay {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    content: '';
    background: rgba(7, 1, 23, 0.8);
    z-index: 99;
    -webkit-transition: all linear .5s;
    -o-transition: all linear .5s;
    transition: all linear .5s;
}

.team-item h3 {
    font-family: rb;
    font-size: 27px;
    color: #fff;
    padding-top: 15px;
    position: relative;
    display: inline-block;
    -webkit-transition: all linear .5s;
    -o-transition: all linear .5s;
    transition: all linear .5s;
}

.team-item h3::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 1px;
    bottom: -6px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #f73859;
}

.team-item:hover .team-overlay {
    height: 100%;
}

.t-icon {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.team-item:hover .t-icon i {
    opacity: 1;
}

.t-icon i:hover {
    background: #f73859;
    border: 1px solid #f73859;
    color: #fff;
}

.t-icon i {
    margin: 0 6px;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    opacity: 0;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.team-item p {
    font-family: rr;
    font-size: 16px;
    color: #fff;
}

/*===========================
8.0 *** COUNT AREA START ***
=============================*/
#count {
    padding: 65px 0;
    background: url(../image/count.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

#count::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(7, 1, 23, 0.8);
}

.count-item {
    border: 2px solid #fff;
    padding: 30px 15px 10px;
    position: relative;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.count-item:hover {
    border: 2px solid #f73859;
}

.count-item:hover .count-icon i {
    background: #f73859;
    border: 2px solid #f73859;
}

.count-icon {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -25px;
}

.count-icon i {
    color: white;
    font-size: 21px;
    border: 2px solid #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    background: #070117;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.count-item h3 {
    color: white;
    font-family: osb;
    font-size: 21px;
}

.count-item h3 span {
    color: #f73859;
}

.count-item p {
    color: white;
    font-family: rr;
    font-size: 23px;
}

/*===========================
9.0 *** PRICE AREA START ***
=============================*/
#price {
    padding-top: 60px;
}
#price2{
   padding-bottom: 60px; 
}
.pricing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto 3em;
}

.pricing-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 330px;
    flex: 0 1 330px;
}

.pricing-action {
    color: inherit;
    border: none;
    background: none;
}

.pricing-action:focus {
    outline: none;
}

.pricing-feature-list {
    text-align: left;
}
.pricing-palden{
    padding-top: 30px;
}
.pricing-palden .pricing-item {
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    color: #84697c;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
    box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
    border-radius: 20px 20px 10px 10px;
    margin: 1em;
}

@media screen and (min-width: 66.25em) {
    .pricing-palden .pricing-item {
        margin: 1em -0.5em;
    }

    .pricing-palden .pricing__item--featured {
        margin: 0;
        z-index: 10;
        -webkit-box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
        box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
    }
}

.pricing-palden .pricing-deco {
    border-radius: 10px 10px 0 0;
    background: rgba(7, 1, 23, 0.9);
    padding: 4em 0 9em;
    position: relative;
}

.pricing-palden .pricing-deco-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
}

.pricing-palden .pricing-title {
    font-size: 0.75em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #f73859;
}

.pricing-palden .deco-layer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.pricing-palden .pricing-item:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
}

.pricing-palden .pricing-item:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
}

.pricing-palden .icon {
    font-size: 2.5em;
}

.pricing-palden .pricing-price {
    font-size: 5em;
    font-weight: bold;
    padding: 0;
    color: #fff;
    margin: 0 0 0.25em 0;
    line-height: 0.75;
}

.pricing-palden .pricing-currency {
    font-size: 0.15em;
    vertical-align: top;
}

.pricing-palden .pricing-period {
    font-size: 0.15em;
    padding: 0 0 0 0.5em;
    font-style: italic;
}

.pricing-palden .pricing__sentence {
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 0 0 0.5em;
}

.pricing-palden .pricing-feature-list {
    margin: 0;
    padding: 0.25em 0 2.5em;
    list-style: none;
    text-align: center;
}

.pricing-palden .pricing-feature {
    padding: 1em 0;
}

.pricing-palden .pricing-action {
    font-weight: bold;
    margin: auto 3em 2em 3em;
    padding: 1em 2em;
    color: #fff;
    border-radius: 30px;
    background: rgba(7, 1, 23, 0.9);
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.pricing-palden .pricing-action:hover,
.pricing-palden .pricing-action:focus {
    background-color: #f73859;
}

.pa-act {
    background: #f73859 !important;
}

.pricing-palden .pricing-item--featured .pricing-deco {
    padding: 5em 0 8.885em 0;
}

/*===========================
10.0 *** CONTACT AREA START ***
=============================*/
#contact {
    padding: 80px 0;
    position: relative;
    background: url(../image/contact.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#contact::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(7, 1, 23, 0.5);
}

.form-p {
    padding-top: 75px;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label {
    font-size: 16px;
    font-family: rb;
    color: white;
}

.form-group input {
    font-family: rr;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none !important;
}

.form-group textarea {
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    background: transparent;
}

.form-group input:hover {
    border-bottom: 1px solid #f73859;
    border-radius: 0;
}

.form-group input:focus {
    background: transparent !important;
    border-bottom: 1px solid #f73859 !important;
    color: white;
}

.form-group textarea:hover {
    border: 1px solid #f73859;
}

.form-icon {
    padding-top: 135px;
}

.form-icon i {
    font-size: 40px;
    color: #fff;
    width: 90px;
    height: 90px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.form-icon i:hover {
    background: #fff;
    color: #070117;
}

.user-form .btn {
    background: #f73859;
    color: #fff;
    border: 1px solid #f73859;
    font-family: rb;
    padding: 12px 20px;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.user-form .btn:hover {
    padding: 12px 24px;
}

.watch-text {
    padding-top: 23px;
}

.watch-text a {
    font-size: 16px;
    color: #fff;
    font-family: rb;

}

/*===========================
11.0 *** TESTIMONIAL AREA START ***
=============================*/
#testimonial {
    padding: 80px 0;
    position: relative;
}

.testimonial-img img {
    border: 2px solid #f73859;
    border-radius: 50%;
}

.testimonial-img {
    padding-top: 15px;
}

.news-items {
    -webkit-box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
    box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
    padding: 30px;
    margin-bottom: 45px;
}

.testimonial-img-text {
    padding-left: 20px;
    float: left;
}

.testimonial-text {
    border-bottom: 1px solid #e0e0e0;

}

.testimonial-text p {
    font-size: 16px;
    color: #666;
    font-family: rr;
    padding-right: 75px;
}

.testimonial-text p i {
    color: #f73859;
    font-size: 18px;
}

.testimonial-img-text i {
    color: #f73859;
}

.testimonial-img-text h4 {
    font-family: rb;
    font-size: 20px;
    padding-top: 5px;
}

.testimonial-img-text span {
    color: #f73859;
}

.user-img {
    float: left;
}

.slick-dots {
    text-align: center;
    padding-top: 8px;
    outline: 0;
}

.slick-dots li {
    display: inline-block !important;
    width: 16px;
    height: 16px;
    margin: 0 8px;
    background: none;
    border: 1px solid #ff416c;
    border-radius: 50%;
    outline: 0;
}

.slick-dots li button {
    width: 15px;
    height: 15px;
    color: transparent;
    background: none;
    border: none;
    border-radius: 50%;
    outline: 0;
}

.slick-dots li.slick-active {
    background: #ff416c;
}

.slick-dots li.slick-active button {
    background: #ff416c;
    outline: 0;

}

.slick-dots li.slick-active button:focus {
    outline: 0;

}

/*===========================
12.0 *** FOOTER AREA START ***
=============================*/

#footer {
    padding: 70px 0;
    background: #131313;
}

.footer-logo p {
    font-weight: 400;
    color: #fff;
    font-family: rr;
    padding-top: 25px;
    line-height: 24px;
    font-size: 15px;
}

.footer-social {
    padding-top: 30px;
}

.footer-social i {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin: 0 2px;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.footer-social i:hover {
    background: #f73859;
    color: #fff;
    border: 1px solid #f73859;
}

.links h3 {
    font-size: 19px;
    font-family: rb;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 4px;
}

.links ul li a {
    color: #fff;
    text-transform: capitalize;
    line-height: 38px;
    font-size: 15px;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.links ul li a:hover {
    color: #f73859;
    padding-left: 10px;
}

.location p {
    padding-bottom: 5px;
}

.location a {
    color: #fff;
    font-size: 15px;
    line-height: 25px;
}


.f-logo {
    font-size: 25px;
    color: #fff;
    font-family: osb;
}

.f-logo:hover {
    color: #ff416c;
}

.insta-item {
    color: white;
}

.fg2 input {
    border-radius: 50px;
    background: none;
    color: #fff;
    border: 1px solid #ff416c;
}

.fg2 input:focus {
    background: none;
    border: 1px solid #ff416c;
    position: relative;
    right: 0;
}

.fg2 input:hover {
    border-radius: 50px;
    border: 1px solid #ff416c;
}

.fg2 button i {
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.fg2 button {
    border-radius: 50px;
    position: absolute;
    right: 16px;
    top: 65px;
    border: none;
    background: #ff416c;
    color: #fff;
}

.fg2 button:hover {
    border: none;
    background: #ff416c;
}

.fg2 button:hover i {
    padding-right: 8px;
}

/*===========================
13.0 *** COPY_RIGHT AREA START ***
=============================*/

#footer-btm {
    background: #131313;
    border-top: 1px solid #464646;
}

.fop-btm h2 {
    color: #fff;
    padding: 35px 0 15px;
    font-size: 16px;
}

.fop-btm a {
    color: #f73859;
}
